/* Variables */
:root{
  --bg-color: #00FF29;
}


/* Reset */
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}

canvas{
  display: block;
  width: 100% !important;
  height: 100% !important;
}